{% extends 'base.html' %}

{% block content %}
<h1 style="position: absolute;">Контакты</h1>
<div style="position: absolute; margin-top: 50px">
<p style="font-weight: bold;">Директор автошколы:</p>
<p style="line-height: 0">Галкин Сергей Юрьевич</p>
<p>Телефон: +7(916) 574-84-660</p>
    <p style="font-weight: bold;">Мастера производственного обучения:</p>
<p style="line-height: 0">Галкина Виктория Сергеевна; тел.: 8(999)999-99-99</p>
<p>Лёзов Алексей Александрович; тел.: 8(999)999-99-99</p>
    <p style="line-height: 0">Шмаров Сергей Владимирович; тел.: 8(999)999-99-99</p>
    <p>Ушаков Михаил Владимирович; тел.: 8(999)999-99-99</p>
    <p style="line-height: 0">Евстифеева Людмила Алексеевна; тел.: 8(999)999-99-99</p>
    <p style="font-weight: bold;">Адрес офиса:</p>
    <p style="line-height: 0">601300, Владимирская область, г. Камешково</p>
    <p>ул.Ленина д.5 (вход со двора)</p>
    <p style="font-weight: bold;">Адрес офиса:</p>
    <p style="line-height: 0">Владимирская область, г. Камешково</p>
    <p>улица Коруновой</p>
    <p style="line-height: 0">(возле ОГИБДД ОМВД России по Камешковскому району)</p>
    <p style="margin-top: 4px"></p>
</div>
{% endblock %}

{% block map %}
<div style="float: right; margin-top: 5px; margin-bottom: 10px">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9687ae5d6c334754e20459363af45c52c8413b38b5d021e3840150e1e3f6a728&amp;width=730&amp;height=510&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
{% endblock %}