{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="text-align: center;">Программы и стоимость</h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">А1</h4>
          </div>
          <div class="card-body">
              <img class="container" style="vertical-align: middle; width: 380px" alt="Лого" src="{% static 'img/a1_moto.png' %}">
            <h1 class="card-title pricing-card-title">6000 руб.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Срок обучения - 134 часа.</li>
              <li>Полный курс практики (вождение)</li>
              <li>Лекционные занятия</li>
              <li>занятия на автодроме</li>
            </ul>
            <a href="{% url 'apps' %}"><button type="submit" value="Submit" class="button1">Записаться</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">A</h4>
          </div>
          <div class="card-body">
            <img class="container" style="vertical-align: middle; width: 355px" alt="Лого" src="{% static 'img/a_moto.png' %}">
            <h1 class="card-title pricing-card-title">10 000 руб.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Срок обучения - 134 часа.</li>
              <li>Полный курс практики (вождение)</li>
              <li>Лекционные занятия</li>
              <li>занятия на автодроме</li>
            </ul>
            <a href="{% url 'apps' %}"><button type="submit" value="Submit" class="button1">Записаться</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">B</h4>
          </div>
          <div class="card-body">
            <img class="container" style="vertical-align: middle; width: 358px" alt="Лого" src="{% static 'img/b_auto.png' %}">
            <h1 class="card-title pricing-card-title">24 000 руб.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Срок обучения - 190 часов.</li>
              <li>Полный курс практики (вождение)</li>
              <li>Лекционные занятия</li>
              <li>занятия на автодроме</li>
            </ul>
            <a href="{% url 'apps' %}"><button type="submit" value="Submit" class="button1">Записаться</button></a>
          </div>
        </div>
      </div>
  </div>
{% endblock %}